<p>masonry-test works!</p>
<div class="container">
  <a
    href="#"
    class="btn btn-primary my-2 me-5"
    (click)="testResponse(this.table)"
    >Main call to action</a
  >

  <ngx-masonry [options]="{ horizontalOrder: true, percentPosition: true }">
    <div
      class="col-lg-4 col-md-6 col-sm-12"
      style="padding: 16px;"
      ngxMasonryItem
      *ngFor="let sticker of this.table[this.tableId]?.stickers"
    >
      <div class="card">
        <img src="./assets/img/1.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ sticker.text }}</h5>
          <p class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia,
            dolores!
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </ngx-masonry>
</div>
