<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Account board</h1>
        <p class="lead text-muted">This is how main page looks.</p>
        <p>
          <a
            href="#"
            class="btn btn-primary my-2 me-5"
            (click)="testResponse(this.table)"
            >testResponse</a
          >
          <span>Table: {{ tableId }}</span
          ><br />
          <a href="#" class="btn btn-secondary my-2" (click)="previousTable()"
            >previousTable</a
          >
          <a href="#" class="btn btn-secondary my-2" (click)="nextTable()"
            >nextTable</a
          >
        </p>
      </div>
    </div>
  </section>
  <hr />
  <div class="album py-5" style="background-color: #fcfcfc">
    <div class="container">
      <!-- ------------------------------------------------------------------------------ card iteration starts -------------------------------------------- -->
      <ngx-masonry [options]="{ horizontalOrder: true, percentPosition: true }">
        <div
          ngxMasonryItem
          class="col-lg-4 col-md-6 col-sm-12"
          *ngFor="let sticker of this.table[this.tableId]?.stickers"
          style="padding: 16px"
        >
          <!-- Масонри слетает при смене доски, нужно обновлять -->
          <div class="card">
            <div class="card-body pb-2 ps-0 pe-0">
              <div
                class="card-header mb-0 bg-primary d-flex justify-content-between align-items-center"
                style="margin: -16px 0px 0 -0px"
              >
                <h5
                  class="card-title mb-0"
                  style="padding-top: 4px; padding-bottom: 4px; color: white"
                >
                  {{ sticker.text }}
                </h5>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-white text-light"
                  >
                    Edit
                  </button>
                
              </div>
              <img [src]="sticker.image" class="card-img-bottom" />
              <!-- <p class="card-text">
                This card has supporting text below as a natural lead-in to                       // от описания карточки пока отказываемся
                additional content.
              </p> -->
            </div>
            <div
              *ngFor="let todo of sticker.todos"
              class="list-group mx-0 w-auto mb-0 mt-0"
              style="border-top: none; border-bottom: 0"
            >
              <!-- нужно сделать checked динамическим и нужно сделать last updated динамическими-->
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                  checked=""
                />
                <!-- По сути для cheсked в функции нужно следить за инпутом и передавать на сервер изменения -->
                <span>
                  <small class="d-block text-muted">{{ todo.text }}</small>
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr
                  *ngIf="todo != sticker.todos[sticker.todos.length - 1]"
                  class="mb-0 mt-0"
                  style="opacity: 0.075; width: 66%"
                />
              </div>
            </div>

            <p
              class="card-text pb-2 pe-3"
              style="align-self: end; opacity: 70%"
            >
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </ngx-masonry>
      <!-- ------------------------------------------------------------------------------ card iteration ends -------------------------------------------- -->
    </div>
  </div>
</main>
