<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">
          Something short and leading about the collection below—its contents,
          the creator, etc. Make it short and sweet, but not too short so folks
          don’t simply skip over it entirely.
        </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5" style="background-color: #fcfcfc;" >
    <div class="container">
      <div
        class="row"
        data-masonry='{"percentPosition": true }'
        style="position: relative; height: 690px"
      >
        <div
          class="col-sm-6 col-lg-4 mb-4 d-flex justify-content-center"
          style="position: absolute; left: 0%; top: 0px"
        >
          <div class="card">
            <div class="card-body pb-2">
              <div
                class="card-header mb-3 bg-primary"
                style="margin: -16px -16px 0 -16px"
              >
                <h5
                  class="card-title mb-0"
                  style="padding-top: 4px; padding-bottom: 4px; color: white"
                >
                  Card title
                </h5>
              </div>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>
            <div
              class="list-group mx-0 w-auto mb-1 mt-1"
              style="border-top: none; border-bottom: 0"
            >
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                  checked=""
                />
                <span>
                  <small class="d-block text-muted"
                    >With support text underneath to add more detail</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block">Some other text goes here</small>
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
            </div>
            <p
              class="card-text pb-2 pe-3"
              style="align-self: end; opacity: 70%"
            >
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
<!-- 123 -->
        <div
          class="col-sm-6 col-lg-4 mb-4"
        >
          <div class="card">
            <div class="card-body pb-2">
              <div
                class="card-header mb-3 bg-secondary"
                style="margin: -16px -16px 0 -16px"
              >
                <h5
                  class="card-title mb-0"
                  style="padding-top: 4px; padding-bottom: 4px; color: white"
                >
                  Card title
                </h5>
              </div>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>

            <svg
              style="width: calc(100% - 16px)"
              class="bd-placeholder-img card-img ms-2 me-2 mt-2"
              width="100%"
              height="200"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Image cap"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>

            <div
              class="list-group mx-0 w-auto mb-1 mt-1"
              style="border-top: none; border-bottom: none"
            >
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                  checked=""
                />
                <span>
                  <small class="d-block text-muted"
                    >With support text underneath to add more detail</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block">Some other text goes here</small>
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Cumque blanditiis ex
                    tenetur et? Dicta labore quaerat ratione omnis quam
                    provident.</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
            </div>
            <p
              class="card-text pb-2 pe-3"
              style="align-self: end; opacity: 70%"
            >
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div
          class="col-sm-6 col-lg-4 mb-4"
        >
          <div class="card">
            <div class="card-body pb-2">
              <div
                class="card-header mb-3 bg-success"
                style="margin: -16px -16px 0 -16px"
              >
                <h5
                  class="card-title mb-0"
                  style="padding-top: 4px; padding-bottom: 4px; color: white"
                >
                  Card title
                </h5>
              </div>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>

            <svg
              style="width: calc(100% - 16px)"
              class="bd-placeholder-img card-img ms-2 me-2 mt-2"
              width="100%"
              height="200"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Image cap"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>

            <div
              class="list-group mx-0 w-auto mb-1 mt-1"
              style="border-top: none; border-bottom: 0"
            >
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                  checked=""
                />
                <span>
                  <small class="d-block text-muted"
                    >With support text underneath to add more detail</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block">Some other text goes here</small>
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
            </div>
            <p
              class="card-text pb-2 pe-3"
              style="align-self: end; opacity: 70%"
            >
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div
          class="col-sm-6 col-lg-4 mb-4"
        >
          <div class="card">
            <div class="card-body pb-2">
              <div
                class="card-header mb-3 bg-danger"
                style="margin: -16px -16px 0 -16px"
              >
                <h5
                  class="card-title mb-0"
                  style="padding-top: 4px; padding-bottom: 4px; color: white"
                >
                  Card title
                </h5>
              </div>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>

            <svg
              style="width: calc(100% - 16px)"
              class="bd-placeholder-img card-img ms-2 me-2 mt-2"
              width="100%"
              height="200"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Image cap"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>

            <div
              class="list-group mx-0 w-auto mb-1 mt-1"
              style="border-top: none; border-bottom: 0"
            >
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                  checked=""
                />
                <span>
                  <small class="d-block text-muted"
                    >With support text underneath to add more detail</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block">Some other text goes here</small>
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Cumque blanditiis ex
                    tenetur et? Dicta labore quaerat ratione omnis quam
                    provident.</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
            </div>
            <p
              class="card-text pb-2 pe-3"
              style="align-self: end; opacity: 70%"
            >
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div
          class="col-sm-6 col-lg-4 mb-4"
        >
          <div class="card">
            <div class="card-body pb-2">
              <div
                class="card-header mb-3 bg-warning"
                style="margin: -16px -16px 0 -16px"
              >
                <h5
                  class="card-title mb-0"
                  style="padding-top: 4px; padding-bottom: 4px; color: white"
                >
                  Card title
                </h5>
              </div>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>

            <svg
              style="width: calc(100% - 16px)"
              class="bd-placeholder-img card-img ms-2 me-2 mt-2"
              width="100%"
              height="200"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Image cap"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>

            <div
              class="list-group mx-0 w-auto mb-1 mt-1"
              style="border-top: none; border-bottom: 0"
            >
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                  checked=""
                />
                <span>
                  <small class="d-block text-muted"
                    >With support text underneath to add more detail</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block">Some other text goes here</small>
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
            </div>
            <p
              class="card-text pb-2 pe-3"
              style="align-self: end; opacity: 70%"
            >
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div
          class="col-sm-6 col-lg-4 mb-4"
        >
          <div class="card">
            <div class="card-body pb-2">
              <div
                class="card-header mb-3 bg-info"
                style="margin: -16px -16px 0 -16px"
              >
                <h5
                  class="card-title mb-0"
                  style="padding-top: 4px; padding-bottom: 4px; color: white"
                >
                  Card title
                </h5>
              </div>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>
            <div
              class="list-group mx-0 w-auto mb-1 mt-1"
              style="border-top: none; border-bottom: 0"
            >
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                  checked=""
                />
                <span>
                  <small class="d-block text-muted"
                    >With support text underneath to add more detail</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block">Some other text goes here</small>
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
              <div class="d-flex justify-content-center">
                <hr class="mb-0 mt-0" style="opacity: 0.075; width: 66%" />
              </div>
              <label class="list-group-item d-flex gap-2" style="border: none">
                <input
                  class="form-check-input flex-shrink-0"
                  type="checkbox"
                  value=""
                />
                <span>
                  <small class="d-block"
                    >And we end with another snippet of text</small
                  >
                </span>
              </label>
            </div>
            <p
              class="card-text pb-2 pe-3"
              style="align-self: end; opacity: 70%"
            >
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div
          class="col-sm-6 col-lg-4 mb-4"
        >
          <!-- card -->
        </div>
        <div
          class="col-sm-6 col-lg-4 mb-4"
        >
          <!-- card -->
        </div>
      </div>
    </div>
  </div>
</main>
